/.bashrc
/.embedchain
/.env
/.idea
/.ipython
/.lightning_studio
/.lightningignore
/.vscode
/.zcompdump
/.zsh_history
/.zshrc
/poetry.lock
/pyproject.toml
/.condarc
/.config
/.gitconfig
/.docker
/.hushlogin
/.jupyter
/.local
/.oh-my-zsh
/.profile
/.ssh
/.sudo_as_admin_successful